<%= render 'layouts/wedded_people_header' %>
<div class="col-lg-6 col-lg-offset-3">
  <div class="bs-panel">
    <%= render partial: 'party_member', :locals => {:include_border_top => false, :even => true, :name=>"Nathalie Diguer", :title => "Célébrant et tante de Cassandre", :pic_url => "http://i.imgur.com/OHkVR15.jpg"} %>
    <%= render partial: 'party_member', :locals => {:include_border_top => true, :even => false, :name=>"Pierre Diguer", :title => "Père de Cassandre", :pic_url => "http://i.imgur.com/ZvieQ4U.jpg"} %>
    <%= render partial: 'party_member', :locals => {:include_border_top => true, :even => true, :name=>"Ginette St-Amant", :title => "Mère de Cassandre", :pic_url => "http://i.imgur.com/7nPhbFV.jpg"} %>
    <%= render partial: 'party_member', :locals => {:include_border_top => true, :even => false, :name=>"Joanne &amp; Gilles Lalonde", :title => "Parents de Marie-Michèle", :pic_url => "http://s3.amazonaws.com/uploads.hitchedup.com/9fd9c580ab514bb59c146fd27e52d01c.jpeg"} %>
    <%= render partial: 'party_member', :locals => {:include_border_top => true, :even => true, :name => "Catherine Lalonde", :title => "Dame d'honneur", :pic_url => "http://s3.amazonaws.com/uploads.hitchedup.com/aad9b3a8e3ee452f9e485373448d485d.jpeg"} %>
    <%= render partial: 'party_member', :locals => {:include_border_top => true, :even => false, :name => "Eve Diguer-St-Amant", :title => "Dame d'honneur", :pic_url => "http://s3.amazonaws.com/uploads.hitchedup.com/cc066d3e415145cf9b52e0789e64102e.jpeg"} %>
    <%= render partial: 'party_member', :locals => {:include_border_top => true, :even => true, :name=>"France Hamel", :title => "Demoiselle d'honneur", :pic_url => "http://s3.amazonaws.com/uploads.hitchedup.com/57f41a9efb554740a40a35644c96326a.jpeg"} %>
    <%= render partial: 'party_member', :locals => {:include_border_top => true, :even => false, :name=>"Kim-Alex Larochelle", :title => "Demoiselle d'honneur", :pic_url => "http://s3.amazonaws.com/uploads.hitchedup.com/5b245fec8704481b8045a85f891a5979.jpeg"} %>
    <%= render partial: 'party_member', :locals => {:include_border_top => true, :even => true, :name=>"Gabrielle Lafortune", :title => "Demoiselle d'honneur", :pic_url => "http://s3.amazonaws.com/uploads.hitchedup.com/0b23fb07ea1f42faa8f8aed6961b6db1.jpeg"} %>
    <%= render partial: 'party_member', :locals => {:include_border_top => true, :even => false, :name=>"Rania Chaddad", :title => "Demoiselle d'honneur", :pic_url => "http://s3.amazonaws.com/uploads.hitchedup.com/f08aae1ebb9243439ad5ebd282186b38.jpeg"} %>
    <%= render partial: 'party_member', :locals => {:include_border_top => true, :even => true, :name=>"Dominique Minguy", :title => "Demoiselle d'honneur", :pic_url => "http://s3.amazonaws.com/uploads.hitchedup.com/8bccae7da1e34f329205bb55d845385e.jpeg"} %>
    <%= render partial: 'party_member', :locals => {:include_border_top => true, :even => false, :name=>"Dominique Lacroix", :title => "Demoiselle d'honneur", :pic_url => "http://s3.amazonaws.com/uploads.hitchedup.com/e210147f9d054e318eac9fc702b95670.jpeg"} %>
    <%= render partial: 'party_member', :locals => {:include_border_top => true, :even => true, :name=>"Catherine Ippersiel", :title => "Demoiselle d'honneur", :pic_url => "http://s3.amazonaws.com/uploads.hitchedup.com/e75ad50066b8439b84f14c622e6a8c22.jpeg"} %>
    <%= render partial: 'party_member', :locals => {:include_border_top => true, :even => false, :name => "Jean-Pascal Auffrey", :title => "Garçon d'honneur", :pic_url => "http://s3.amazonaws.com/uploads.hitchedup.com/ca8c9210d6214ac8a9f62cfd999f2496.jpeg"} %>
    <%= render partial: 'party_member', :locals => {:include_border_top => true, :even => true, :name => "Olivier Diguer-St-Amant", :title => "Garçon d'honneur", :pic_url => "https://scontent-lga3-1.xx.fbcdn.net/hphotos-prn2/v/t1.0-9/534299_10152130417010054_672367150_n.jpg?oh=06efeb0a8b1e05ebfc26529886e75c21&oe=56AE4B99"} %>
    <%= render partial: 'party_member', :locals => {:include_border_top => true, :even => false, :name=>"Simon Lesage", :title => "Garçon d'honneur", :pic_url => "http://s3.amazonaws.com/uploads.hitchedup.com/72c3bffc21e1430a893d9935d2bbc7b0.jpeg"} %>
  </div>
</div>
