
<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
    <h1>Nouvelle Invité</h1>

    <%= form_for(@guest) do |f| %>
    <%= render 'shared/error_messages', obj: @guest %>

    <div class="form-group">
      <%= f.label :full_name %>
      <%= f.text_field :full_name, class: 'form-control' %>
    </div>
    <%= f.submit "Sauvegarder", class: "btn btn-primary btn-block" %>
    <% end %>
  </div>
</div>
