<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
    <h1>Nouvelle Usagé</h1>

    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', obj: @user %>

    <div class="form-group">
      <%= f.label :email, "E-mail" %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :first_name, "Prénom" %>
      <%= f.text_field :first_name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :last_name, "Nom de famille" %>
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
    <%= f.submit "Sauvegarder", class: "btn btn-primary btn-block" %>
    <% end %>
  </div>
</div>
