<% content_for :head do %>
<script type="text/javascript">
$(document).ready(function(){
  toggleEnabled();
  $('#cboAttendingInd').change(function(){
    toggleEnabled();
  });

  function toggleEnabled(){
    if ($( "#cboAttendingInd option:selected" ).val() == 'true'){
      $('#cboFoodstuff').removeAttr('disabled');
      $('#txtAdditionalComment').removeAttr('disabled');
    }else{
      $('#cboFoodstuff').attr('disabled', '').val('');
      $('#txtAdditionalComment').attr('disabled', '').text('');
    }
  }
});
</script>
<% end %>

<%= render 'layouts/wedded_people_header' %>
<div class="row vertical-center-row">
  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 home-title-area">
    <p class="site-tagline text-center"> RSVP pour <%= "#{@guest.full_name}"%></p>
    <small class="text-center text-muted"><%= link_to "(Ceci n'est pas votre invitation? Cliquez ici pour faire une nouvelle recherche)", find_rsvps_path %></small>

    <%= form_for(@guest, :url => rsvp_path(@guest)) do |f| %>
    <%= render 'shared/error_messages', obj: @guest, include_desc: false %>

    <div class="form-group">
      <%= f.label :attending_ind, "Allez-vous assister à l'événement?" %>
      <%= f.select :attending_ind, [['Oui', true], ['Non', false]], {}, id: "cboAttendingInd", class: 'form-control'%>
    </div>
    <div class="form-group">
      <%= f.label :foodstuff, "Choix de repas" %><br />
      <%= f.select :foodstuff_id, Foodstuff.all.collect {|foodstuff| [ foodstuff.foodstuff_name, foodstuff.id ]}, { :include_blank => true }, id: "cboFoodstuff", class: "form-control", disabled: "" %>
    </div>
    <div class="form-group">
      <%= f.label :additional_comment, "Information additionnelle (par exemple: Allergies)" %>
      <%= f.text_area :additional_comment, id: "txtAdditionalComment", class: 'form-control', disabled: "" %>
    </div>

    <%= f.submit "Soumettre RSVP", class: "btn btn-primary btn-block" %>
    <% end %>
  </div>
</div>
