<%= render 'layouts/wedded_people_header' %>
<div class="row vertical-center-row">
  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 home-title-area">
    <p class="site-tagline text-center"> RSVP pour <%= "#{@guest.full_name}"%></p>
    <small class="text-center text-muted"><%= link_to "(Ceci n'est pas votre invitation? Clicker ici pour faire une nouvelle recherche)", find_rsvps_path %></small>

    <%= form_for(@guest, :url => rsvp_path(@guest)) do |f| %>
    <%= render 'shared/error_messages', obj: @guest %>

    <div class="form-group">
      <%= f.label :foodstuff %><br />
      <%= f.select :foodstuff_id, Foodstuff.all.collect {|foodstuff| [ foodstuff.foodstuff_name, foodstuff.id ]}, {}, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :additional_comment %>
      <%= f.text_area :additional_comment, class: 'form-control' %>
    </div>
    <%= f.submit "Update", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
