<!DOCTYPE html>
<html>
<head>
  <% provide(:title, "Cass & Marie") %>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag 'application', media: 'all',
  'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Lato font -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:100,400,300,300italic,700normal,700italic,700,400italic">
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
</script>
<![endif]-->
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand visible-xs" href="#">Menu</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to "Cortège", wedding_party_path %></li>
          <li><%= link_to "Evenements", event_path %></li>
          <li><%= link_to "Logement", travel_path %></li>
          <li><a href="#">RSVP</a></li>
          <% if logged_in?  %>
          <li role="separator" class="divider"></li>
          <li><a href="#">Invités</a></li>
          <li><a href="#">Bouffe</a></li>
          <li><a href="#">Raport</a></li>
          <% end %>
        </ul>

        <% if logged_in?  %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Log-Out", logout_path, method: :delete%></li>
        </ul>
        <p class="navbar-text navbar-right text-primary">
          <small>Signed in as <%= "#{current_user.first_name} #{current_user.last_name}" %></small>
        </p>
        <% end %>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
  </div>

  <% if Rails.env.development? %>
  <div class="container" style="margin-top:-90px">
    <div class='row'>
      <div class='col-lg-12'>
        <%= debug(params) %>
      </div>
    </div>
  </div>
  <% end %>
</body>

<footer class="footer">

</footer>
</html>
